---
import { Mail } from "@lucide/astro";
import LinkedIn from "../assets/icons/linkedin.svg";
import github from "../assets/icons/github.svg";
---

<footer>
  <ul class="flex gap-4 items-center justify-center text-pine my-8">
    <li>
      <a
        href="mailto:renn_gilbert@mines.edu"
        class="flex gap-2 items-center justify-center underline">Email</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/renntg"
        class="flex gap-2 items-center justify-center underline">LinkedIn</a
      >
    </li>
    <li>
      <a
        href="https://github.com/Kylo33"
        class="flex gap-2 items-center justify-center underline">GitHub</a
      >
    </li>
  </ul>
</footer>
