---
import { Link } from "@lucide/astro";
let { headerId, label } = Astro.props;
---

<div class="-translate-x-10 inline-block mb-6 group">
  <div class="flex gap-4 items-center">
    <a href={`#${headerId}`} aria-label={label}>
      <Link
        size={24}
        class="text-pine-muted opacity-0 group-hover:opacity-100 transition-opacity duration-250"
      /></a
    >
    <slot />
  </div>
</div>
