---
import { Link } from "@lucide/astro";
let { headerId, label } = Astro.props;
---

<div class="inline-block mb-6 group relative">
  <div class="flex gap-4 items-center">
    <a
      href={`#${headerId}`}
      aria-label={label}
      class="hidden md:inline absolute -left-8 text-pine-muted opacity-0 group-hover:opacity-100 transition-opacity duration-250 focus:opacity-100"
    >
      <Link size={24} />
    </a>
    <slot />
    <a
      href={`#${headerId}`}
      aria-label={label}
      class="md:hidden text-pine-muted"
    >
      <Link size={24} />
    </a>
  </div>
</div>
