<li class="grid grid-cols-4 gap-y-4">
  <div class="text-sm text-pine-dark my-auto">Oct 2025</div>
  <div class="flex justify-between col-span-3 items-center">
    <h3 class="font-bold underline text-base text-pine-dark">Math Sandbox</h3>
    <div class="flex gap-2">
      <div
        class="bg-pine-muted-bg rounded-full py-1 px-4 text-sm text-pine-dark"
      >
        OpenCV
      </div>
      <div
        class="bg-pine-muted-bg rounded-full py-1 px-4 text-sm text-pine-dark"
      >
        Python
      </div>
    </div>
  </div>
  <div></div>
  <div class="col-span-3">
    <p class="text-pine-dark text-base/8">
      Mixed reality app combining computer vision with projection mapping, where
      users handwrite equations on paper cards, combine them using physical
      add/multiply operators, and instantly visualize the resulting plots
      projected onto their workspace. First place winner of the Invent track at
      UW's DubHacks 2025.
    </p>
  </div>
</li>
